<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"> <img id="logo" src="https://dl.dropbox.com/s/qvwjcpkae1xye8t/ecook%20logo%20red-01.png?dl=0"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Recipe" ng-model="searchAllRecipes">
        </div>
      
        <!-- Button trigger modal -->
        
        <button class="glyphicon glyphicon-home" aria-hidden="true"></button>
        <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" ng-click="addRecepie()">
        
        <div class="dropdown">
          <button class="glyphicon glyphicon-filter dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add A New Recipe</h4>
              </div>
              <div class="modal-body">
                <input type="text" class="form-control" placeholder="recipe origin" ng-model="contact">
                <input ng-hide="yourModel" type="text" class="form-control" placeholder="Add From Website" ng-model="url">
                <input ng-hide="url" type='file' ng-model='yourModel' base-sixty-four-input>
               
                <input ng-show="yourModel" type="text" class="form-control" placeholder="Recipe Name" ng-model="recipeName">
                <button ng-show='recipeName' ng-click="doStuff()">Submit</button>
                
                <!-- <input ng-show="" type="text" class="form-control" placeholder="Ingredients" ng-model="ingredients">
                <input ng-show="" type="text" class="form-control" placeholder="Preparation" ng-model="preparation"> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="uploadRecipe()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      

      </form>
    </div><!-- /.navbar-collapse -->
  </div>  <!-- /.container-fluid -->
</nav>

<div class=".container-fluid imageContainer">
  <div class="row">
    <div class="col-md-4" ng-repeat="recipe in allrecipes | filter: searchAllRecipes">
      <img id="base64" ng-show="recipe.image" ng-src="data:image/png;base64,{{recipe.image}} "/>
      <img id="webimage" ng-show="recipe.images[0].url" ng-src="{{recipe.images[0].url}}"/>
      <h3>{{recipe.title}}</h3>
    </div>
  </div>
</div>


